@font-face {
 font-family: myFonBold;
 src: url('../fonts/Bahij_TheSansArabic-Bold.ttf');
}

@font-face {
 font-family: myFontLight;
 src: url('../fonts/Bahij_TheSansArabic-SemiLight.ttf');
}

@font-face {
 font-family: myFontPlain;
 src: url('../fonts/Bahij_TheSansArabic-Plain.ttf');
}
*{
  font-family: myFonBold;
}
.font {
 font-family: myFontPlain, sans-serif !important;
}

.artical {
 height: 50vh;
 min-height: 400px;
 background-size: cover;
 background-image: url("../images/slider-BG.png");
}


.Articletitle {
 color: #416399;
 text-decoration: none;
 font-family: myFonBold;
}

.artical-sumary {
 color: rgb(79 79 79);
 font-family: myFontLight;
}

.articalCard {
 background-image: linear-gradient(55deg, #7e81bc 1%, #416399);
 border: 0 #416399;
 color: white;
 width: 350px;
 height: 250px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
 background-image: linear-gradient(55deg, #656bda 1%, #416399);
 border-radius: 50%;
 padding: 10px;
 text-align: center;
}

.carousel-control-prev-icon {
 position: relative;
 right: 5rem;
}

.carousel-control-next-icon {
 position: relative;
 left: 8rem;
}

.who {
 color: #18427c;
 font-weight: 700;
}

.card-title {
 padding: 0px 20px;
 color: #fff;
 font-size: 18px;
 font-weight: 700;
 text-align: center;
}

.articals-block {
 display: flex;
 justify-content: space-evenly;
}

.articalblock {
 display: inline-block;
 width: 40%;
 height: 29rem;
 margin-bottom: 30px;
 padding: 10px;
 border: 2px solid #416399;
 border-radius: 16px;
 background-color: #fff;
 text-align: left;
 overflow: hidden;
 text-align: right;
}

.articalblock img {
 width: 100%;
 height: 225px;
 border-radius: 16px;
}

.readMore {
 text-align: center;
 display: block;
 width: 200px;
 height: 50px;
 margin-right: auto;
 margin-left: auto;
 border-radius: 8px;
 font-size: 18px;
 text-align: center;
}

.readMore2 {
 background-color: #18427c;
 color: white;
 margin-bottom: 5px;

}

.readMore2:hover {
 background-color: #18427c;
 color: white;
}

@media (max-width: 767px) {
 .articalblock {
  margin: 0 auto;
  display: block;
  width: 90%;
  max-width: 400px;
  height: 75vh;
  margin-top: 5px;

 }

 .allarticals {
  display: none;
 }

 .readMore2 {

  margin-top: 5px;
 }
}