@font-face {
  font-family: myFonBold;
  src: url('../fonts/Bahij_TheSansArabic-Bold.ttf');
}
@font-face {
  font-family: myFontLight;
  src: url('../fonts/Bahij_TheSansArabic-SemiLight.ttf');
}

* {
  font-family: myFonBold;
}

.login {
  font-size: 30px;
  font-weight: 700;
}

.input {
  display: inline-block;
  width: 35%;
  height: 50px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  text-align: right;
}

.loginBtn {
  width: 150px;
  height: 50px;
  border-radius: 8px;
  font-size: 20px;
  background-color: #3898EC;
  color: white;
  border: #3898EC;
}

.singup {
  color: #416399;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  font-family: myFontLight;
}