@font-face {
  font-family: myFonBold;
  src: url('../fonts/Bahij_TheSansArabic-Bold.ttf');
}

@font-face {
  font-family: myFontLight;
  src: url('../fonts/Bahij_TheSansArabic-SemiLight.ttf');
}

@font-face {
  font-family: myFontPlain;
  src: url('../fonts/Bahij_TheSansArabic-Plain.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: myFontPlain, sans-serif;
}

.custom-cursor {
  cursor: pointer !important;
}

.container-fluid {
  padding: 0;
}

.header {
  height: 90vh;
  min-height: 400px;
  background-size: cover;
  background-image: url("../images/eBG.png");
  position: relative;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/effects.png");
  opacity: 0.5;
}

.header:hover:before {
  opacity: 0.8;
  transform: translate(-50%, -50%) scale(1.1) rotate(15deg);
}

.header-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease-in-out;
}

.header:hover .header-img {
  transform: translate(-50%, -55%);

}

.buttons button {
  padding: 10px;
  width: 12rem;
  transition: transform 0.3s ease-in-out;
}

.buttons button:hover {
  transform: scale(1.1) translateY(-5px);
}

.buttons button:active {
  transform: scale(1) translateY(0) translateY(5px);
}

.buttons button a {
  color: white;
  text-decoration: none;
}

.navbar-nav li.nav-item {
  position: relative;
  transition: right 0.5s ease-in-out;
  right: 100%;
}

.navbar-nav.active li.nav-item {
  right: 0;
}

.nav-link:hover {
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.who {
  color: #18427c;
  font-weight: 700;
}

.whoImg {
  font-family: myF;
  color: #868686;
  font-size: 25px;
  text-align: center;
}

.section-transition {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.section-transition.active {
  opacity: 1;
  transform: translateX(0);
}

.section-transition img {
  transform: translateX(-50px);
  transition: transform 0.5s ease-in-out;
}

.section-transition.active img {
  transform: translateX(0);
}

.Carousel {
  outline: #18427c solid 5px;
}

.carousel-item img {
  height: 100vh;
  object-fit: cover;
  width: 100%;
}

.line {
  color: #6ed1aa;
  font-size: larger;
  font-weight: bolder;
}

.cardService {
  border-radius: 20px;
}

.card {
  border-radius: 10px;
  border: #18427b solid 2px;
}

.card-title {
  font-family: 'Bahij thesansarabic plain', sans-serif;
  font-size: 16px;
}

.card-text {
  font-size: 10px;
}


.imgworlk2 {
  width: 37rem;
  margin-top: 1rem;
  margin-left: -27rem;
}

.imgworlkMed {
  margin-top: 3rem;
  margin-left: -10rem;
  margin-bottom: 1px;
}

.cardShow {
  overflow: hidden;
  width: 275px;
  height: 275px;
  margin: 40px;
  padding: 20px 15px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 1px 2px 12px 0 #234078;
  border: 0;
}

.cardShow .card-img-top {
  display: block;
  width: 150px;
  height: 150px;
  max-width: 100%;
  margin: 15px auto;
}

.cardShow .card-title {
  height: 45px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
}

.showMore {
  display: block;
  width: 200px;
  height: 50px;
  margin: auto;
  padding-top: 15px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  background-color: #3898ec;
  border-style: none;
}

.review {
  height: 80vh;
  min-height: 400px;
  background-size: cover;
  background-image: url("../images/b-bg2.png");
  padding: 70px 0;
  text-align: center;
}

.center {
  padding: 70px 0;
  text-align: center;
}

.reviews {
  height: 60vh;
  width: 60%;
  background-color: #fff;
  border-radius: 20px;
  margin: 0 auto;

}

.carousel-items img {
  height: 170px;
  object-fit: cover;
  width: 170px;
  border: #234078 solid 5px;
}

.cardService {
  width: 170px;
  height: 314px;
  margin: 0 auto;
  border: 2px solid #18427b;
  transition: transform 0.3s ease;
  font-family: myFontLight;
  font-size: 10px;
}

.cardService:hover {
  transform: translateX(10px);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.card-service-text {
  width: 100%;
  height: 40px;
  overflow: hidden;
}

.imgService {
  width: 80%;
  height: 30%;
}

.reviewCon {
  display: block;
  overflow: hidden;
  padding: 0 5vw;
  /* استخدام وحدة vw للهوامش */
  color: #6f706f;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.counter {
  width: 100%;
  background-size: cover;
  background-image: url("../images/slider-BG.png");
  min-height: 300px;
  padding: 70px 0;
  text-align: center;
  background-attachment: fixed, scroll;
}



.count {
  padding-bottom: 15px;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}

.countDesc {
  font-family: myFontLight;
  color: #fff;
  font-size: 20px;
  line-height: 35px;
}

.articalCard {
  background-image: linear-gradient(55deg, #7e81bc 1%, #416399);
  border: 0 #416399;
  color: white;
}

.titleblog {
  margin: 0px 0px 35px;
  padding: 0px 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

footer {
  min-height: 100px;
  background-color: #000;
  padding: 70px 0;
  text-align: center;
  color: white;
  font-size: 30px;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: linear-gradient(55deg, #656bda 1%, #416399);
  border-radius: 50%;
  padding: 10px;
  text-align: center;
}

.carousel-control-prev-icon {
  position: relative;
  right: 7rem;
}

.carousel-control-next-icon {
  position: relative;
  left: 8rem;
}

.readMore {
  text-align: center;
  display: block;
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
}

.readMore2 {
  background-color: #18427c;
  color: white;
  margin-bottom: 5px;

}

.workeHeader {
  width: 460px;
  font-family: myFontPlain;
  font-size: 25px;
  line-height: 29px;
  font-weight: 700;
  text-align: right;
  margin-top: 5px;
}

.textHeader {
  width: 450px;
  font-family: myFontPlain;
  font-size: 16px;
  line-height: 30px;
  text-align: right;

}

.imgworlk {
  /* margin-right: 86px;
  margin-left: -7rem; */


}
.HowWoke{
  width: 50%;
}

/*media Query*/
@media only screen and (max-width:600px) {
  /* body{
    overflow-x: hidden;
  } */
  .HowWoke{
    width: 100%;
  }
  .header {
    background-position: 20% 33%;
  }

}
@media (max-width: 768px) {
  .header {
    height: 150vh;
  }

  .welcom {
    text-align: center;
    width: 100%;
  }

  .welcomWorld {
    width: 100%;
  }

  nav .navbar-collapse {
    min-width: 100%;
  }

  .reviewCon {
    font-size: 1.9vw;
  }
}