@font-face {
  font-family: myFonBold;
  src: url('../fonts/Bahij_TheSansArabic-Bold.ttf');
}

@font-face {
  font-family: myFontLight;
  src: url('../fonts/Bahij_TheSansArabic-SemiLight.ttf');
}

@font-face {
  font-family: myFontPlain;
  src: url('../fonts/Bahij_TheSansArabic-Plain.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: myFontPlain, sans-serif;
}

.container-fluid {
  padding: 0;
}

.header {
  height: 90vh;
  min-height: 400px;
  background-size: cover;
  background-image: url("../images/eBG.png");
  position: relative;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/effects.png");
  opacity: 0.5;
}

.header:hover:before {
  opacity: 0.8;
  transform: translate(-50%, -50%) scale(1.1) rotate(15deg);
}

.header-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease-in-out;
}

.header:hover .header-img {
  transform: translate(-50%, -55%);

}

.buttons button {
  padding: 10px;
  width: 12rem;
}

.buttons button a {
  color: white;
  text-decoration: none;
}

.navbar-nav li.nav-item {
  position: relative;
  transition: right 0.5s ease-in-out;
  right: 100%;
}

.navbar-nav.active li.nav-item {
  right: 0;
}

.nav-link:hover {
  /* background-color: #000000; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.who {
  color: #18427c;
  font-weight: 700;
}

.whoImg {
  /* margin-bottom: 50px; */
  font-family: 'Bahij thesansarabic plain', sans-serif;
  color: #868686;
  font-size: 25px;
  text-align: center;
}

.section-transition {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.section-transition.active {
  opacity: 1;
  transform: translateX(0);
}

.section-transition img {
  transform: translateX(-50px);
  transition: transform 0.5s ease-in-out;
}

.section-transition.active img {
  transform: translateX(0);
}

.Carousel {
  outline: #18427c solid 5px;
}

.carousel-item img {
  height: 100vh;
  object-fit: cover;
  width: 100%;
}

.line {
  color: #6ed1aa;
  font-size: larger;
  font-weight: bolder;
}

.cardService {
  border-radius: 20px;
}

.card {
  border-radius: 10px;
  border: #18427b solid 2px;
}

.card-title {
  font-family: 'Bahij thesansarabic plain', sans-serif;
  font-size: 16px;
}

.card-text {
  font-size: 10px;
}

.imgworlk {
  width: 37rem;
  margin-top: -3rem;
  margin-left: -22rem;
}

.imgworlk2 {
  width: 37rem;
  margin-top: 1rem;
  margin-left: -27rem;
}

.imgworlkMed {
  margin-top: 3rem;
  margin-left: -10rem;
  margin-bottom: 1px;
}

.cardShow {
  overflow: hidden;
  width: 275px;
  height: 275px;
  margin: 40px;
  padding: 20px 15px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 1px 2px 12px 0 #234078;
  border: 0;
}

.cardShow .card-img-top {
  display: block;
  width: 150px;
  height: 150px;
  max-width: 100%;
  margin: 15px auto;
}

.cardShow .card-title {
  height: 45px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
}


.review {
  height: 80vh;
  min-height: 400px;
  background-size: cover;
  background-image: url("../images/b-bg2.png");
}

.reviews {
  height: 60vh;
  background-color: aliceblue;
  border-radius: 20px;
}

/*media Query*/
@media only screen and (max-width:600px) {
  .header {
    background-position: 20% 33%;
  }

}

@media (max-width: 768px) {
  .header {
    height: 150vh;
  }

  .welcom {
    text-align: center;
    width: 100%;
  }

  nav .navbar-collapse {
    /* background-image: linear-gradient(55deg, #7e81bc 1%, #416399); */
    min-width: 100%;
    /* تنسيقات إضافية للنافبار عند شاشات متوسطة الحجم */
  }
}